<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (C) 2020 Marcin Kwiatkowski (http://marcin-kwiatkowski.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="catalogbanners" frontName="catalogbanners">
            <module name="Mkwiatkowski_CatalogBanners" />
        </route>
    </router>
</config>